<head>
  <title>sb2meteor</title>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css">
  <!--
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  -->
</head>

<body>
  {{> allLocations}}
  <h3>Locations to Channels</h3> {{> allChannels}}
  <!--
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.js"></script>
</body>

<template name="allLocations">
  <h3>Locations</h3>
  <p>
    <button class="btn btn-default" ng-click="sync()">Sync</button>
  </p>

  <div>
    <table class="ui very basic celled striped table">
      <thead>
        <tr>
          <th>*</th>
          <th>ID</th>
          <th>Name</th>
          <th>Location</th>
        </tr>
      </thead>
      <tbody>
        {{#each Locations}} {{> location}} {{/each}}
      </tbody>
    </table>
  </div>
</template>

<template name="allChannels">
  <h3>Channels</h3>
  <p>
    <button class="btn btn-default" ng-click="sync()">Sync</button>
  </p>

  <div>
    <table class="ui celled striped table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        {{#each Channels}} {{> channel}} {{/each}}

      </tbody>
    </table>
  </div>
</template>

<!-- Templates for specific row -->
<template name="channel">
  <tr>
    <td id="channel-{{id}}">{{id}}</td>
    <td>
      <div class="ui fluid input">
        <input id="channel-name-{{id}}" type="edit" value="{{name}}" placeholder="{{name}}" />
      </div>
    </td>
  </tr>
</template>

<template name="location">
  <tr>
    <td>{{editing}}</td>
    <td id="location-{{id}}">{{id}}</td>
    <td>
      <div class="ui fluid input">
        <input id="location-name-{{id}}" type="edit" value="{{name}}" placeholder="{{name}}" />
      </div>
    </td>
    <td>
      <div class="ui fluid input">
        <input id="location-location-{{id}}" type="edit" value="{{location}}" placeholder="{{location}}" />
      </div>
    </td>
  </tr>
</template>
